*~
*.log
*.egg-info/
*.db
*.pyc
.DS_Store
__pycache__/
env/
var/
*.swp
*.swo
json1.dylib.dSYM/
*.swm
*.swn
node_modules/
bundle.js
secret_key.text
db_password.text
db_root_password.text
db_password.txt
db_root_password.txt
secret_key.txt
progress
history.txt
