#explorer {
    text-align: right;
} 
.login-left{
    text-align: left;
} 
.login-right{
    text-align: right;
} 

#login {
  display: none;
}
#loggedin {
  display: none;
}

.post_created {
    text-align: right;
}
.follow_user {
    float: left;
}
.follow_button {
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
