.header {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: 1.25rem 2.5vw;
    top: 0;
    z-index: 10;
}

.header .title-bar {
  margin-bottom: 30px;
}

.header .title-bar .title {
  width: 14.6875rem;
  display: block;
  margin-right: auto;
}

.header .login-box {
    color: #1e3264;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.header .login-box .login-left {
    text-align: right;
    margin-right: 0.625rem;
}

.header .login-box .user-name {
    display: block;
    padding-bottom: 0.125rem;
}

.header .login-box .login-right {
  position: relative;
  height: 1.625rem;
  width: 1.625rem;
  border-radius: 0.8125rem;
  box-shadow: 0 0 0 2px #1e3264;
  overflow: hidden;
}

.header .login-box .login-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#user-profile {
  padding-top: 9.375rem;
}

.logout {
  padding-left: 2rem;
}

/*TODO remove*/
/*
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
#login {
  display: none;
}
#loggedin {
  display: none;
}
*/

