.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.25rem 2.5vw;

  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  top: 0;
  z-index: 10;

  margin-bottom: 30px;
}

.header .title {
}

.header .login-box {
  margin-right: 3.125rem;
  color: #1e3264;
  align-items: end;
  display: flex;
}

.header .login-box .login-left {
  text-align: right;
  margin-right: 0.625rem;
}

.header .login-box .login-left .user-name {
  padding-bottom: 0.125rem;
}

.header .login-box .login-left .logout {
  padding-left: 2rem;
}

.header .login-box .login-right {
  height: 2.375rem;
  width: 2.375rem;
  border-radius: 1.1875rem;
  box-shadow: 0 0 0 2px #1e3264;
  overflow: hidden;
  flex-shrink: 0;
}

.header .login-box .login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-profile {
  padding-top: 9.375rem;
}


.message-bar {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background-color: black; 
  color: white; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
}

.message-bar-error {
  background-color: red;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.message-bar-show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

